.hidden {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    -moz-transition: height 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s; /* Safari and Chrome */
    -o-transition: height 0.5s; /* Opera */
	
	margin-left: 10px;
}

